<div class="page"> 
<nav class="navbar navbar-dark bg-dark" style="text-align:center;display: block; ">
  <h2 id="cap" style="font-family: Garamond, serif; font-size:small; color:white; " > made with ♡ by Exa
    
  </h2>
</nav>

  
    <div class="row">
  
      <div class="col-md-8 offset-md-2">
        <blockquote class="blockquote">
        
          <p class="mb-0 h3 display-4" style="font-family: 'Brush Script MT', cursive; text-align: center;padding-top:20px;"> Comic Gallery </p>
         
        </blockquote>
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>

  

