<!-- <table *ngIf="imageList">
  <div *ngFor="let i of rowIndexArray">
    <tr >
      <td>
        <div class="imagebox">
          <img [src]="imageList[3*i].imageUrl" class="img-fluid">
        </div>
      </td>
      <td >
        <div class="imagebox">
          <img [src]="imageList[3*i+1].imageUrl" class="img-fluid">
        </div>
     </td>
     <td>
        <div class="imagebox">
          <img [src]="imageList[3*i+2].imageUrl" class="img-fluid">
         
        </div>
      </td>
    </tr>

</div>
  </table> -->


  <section id="gallery">
    <div class="container">
      <div id="image-gallery" *ngFor="let i of rowIndexArray">
        <div class="row">
          <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
             <img [src]="imageList[3*i].imageUrl" class="gallery-item">
            </div>
          </div>
          <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
             <img [src]="imageList[3*i+1].imageUrl" class="gallery-item">
            </div>
          </div>
          <div class="item col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <img [src]="imageList[3*i+2].imageUrl" class="gallery-item">
            </div>
          </div>
        </div><!-- End row -->
      </div><!-- End image gallery -->
    </div><!-- End container --> 
  </section>



<!-- Modal -->
<div class="modal fade" id="gallery-popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="" class="modal-img">
      </div>
 
    </div>
  </div>
</div>



